.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(40, 28, 54) !important;
}

.headerGroup {
  display: flex;
  align-items: center;
}

.createButton {
  margin-left: 2rem !important;
  background-color: rgb(12, 179, 79) !important;
}

.search {
  margin-left: 2rem !important;
  width: 20rem !important;
}