.button {
  width: 9rem;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shownText {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 1fr;
  margin: 0 0.5rem;
}
