@import '~antd/dist/antd.less';

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-size: 20px;
}

.ant-form-item {
  margin-bottom: 0.5rem !important;
}

.ant-layout-sider-trigger {
  background-color: rgb(40, 28, 54) !important;
}

.ant-progress-bg {
  background-color: #88CD94;
}

.ant-progress-success-bg {
  background-color: #009D4D;
}

.ant-form-item-label {
  font-weight: 600;
}

.ant-form-item-required::before {
  content: '' !important;
  margin-right: 0 !important;
}

.ant-layout-sider-collapsed {
  width: 76px !important;
  min-width: 76px !important;
  max-width: 76px !important;
}